nav {
    background: white;
    justify-content: center;
    margin-top: 0%;
}

body {
    background: lightslategrey;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.button {
    background-color: white;
    border: rgb(56, 13, 61);
    color: white;
    padding: 100px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin-top: 200px;
}